<section class="login-block">
  <div class="container">
    <div class="row">
      <div class="col-md-4 login-sec">
        <h2 class="text-center">Register</h2>
        <form
          [formGroup]="registerForm"
          (ngSubmit)="register()"
          novalidate
          class="login-form"
        >
          <!-- Full Name -->
          <div class="form-group">
            <mat-form-field class="w-100">
              <input
                matInput
                placeholder="Full Name"
                formControlName="fullName"
              />
              <mat-error
                *ngIf="registerForm.get('fullName').hasError('required')"
              >
                Name is required.
              </mat-error>
              <mat-error
                *ngIf="registerForm.get('fullName').hasError('minlength')"
              >
                At least 3 characters are required.
              </mat-error>
            </mat-form-field>
          </div>

          <!-- Email -->
          <div class="form-group">
            <mat-form-field class="w-100">
              <input
                matInput
                placeholder="Email ID"
                formControlName="emailId"
              />
              <mat-error
                *ngIf="registerForm.get('emailId').hasError('required')"
              >
                Email ID is required.
              </mat-error>
              <mat-error *ngIf="registerForm.get('emailId').hasError('email')">
                Email ID format is Invalid.
              </mat-error>
            </mat-form-field>
          </div>

          <!-- Mobile Number -->
          <div class="form-group">
            <mat-form-field class="w-100">
              <input
                matInput
                placeholder="Mobile Number"
                formControlName="mobileNumber"
              />
              <mat-error
                *ngIf="registerForm.get('mobileNumber').hasError('required')"
              >
                Mobile Number is required.
              </mat-error>
              <mat-error
                *ngIf="
                  registerForm.get('mobileNumber').hasError('minlength') ||
                  registerForm.get('mobileNumber').hasError('maxlength')
                "
              >
                Mobile Number must have exact 10 digits
              </mat-error>
              <mat-error
                *ngIf="registerForm.get('mobileNumber').hasError('pattern')"
              >
                Only digits are allowed.
              </mat-error>
            </mat-form-field>
          </div>

          <!-- Password -->
          <div class="form-group">
            <mat-form-field class="w-100">
              <input
                matInput
                placeholder="Password"
                formControlName="password"
                type="password"
              />
              <mat-error
                *ngIf="registerForm.get('password').hasError('required')"
              >
                Password is required.
              </mat-error>
            </mat-form-field>
          </div>
          
          <!-- Confiirm Password -->
          <div class="form-group">
            <mat-form-field class="w-100">
              <input
                type="password"
                matInput
                placeholder="Confirm Password"
                formControlName="confirmPassword"
              />
              <mat-error
                *ngIf="registerForm.get('confirmPassword').hasError('required')"
              >
                Confirm Password is required.
              </mat-error>
              <mat-error *ngIf="registerForm.hasError('passwordsDoNotMatch')">
                Passwords do not match!
              </mat-error>
            </mat-form-field>
            <div class="state">
              Do passwords match?
              <strong>{{
                !registerForm.hasError('passwordsDoNotMatch')
              }}</strong>
            </div>
          </div>

          <!-- Submit -->
          <div class="form-check">
            <label class="form-check-label">
              <a [routerLink]="['/auth/login']">Login</a>
            </label>
            <button type="submit" class="btn btn-login float-right">
              Register
            </button>
          </div>
        </form>
      </div>
      <div class="col-md-8 banner-sec">
        <div
          id="carouselExampleIndicators"
          class="carousel slide"
          data-ride="carousel"
          data-interval="4000"
        >
          <ol class="carousel-indicators">
            <li
              data-target="#carouselExampleIndicators"
              data-slide-to="0"
              class="active"
              data-s
            ></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <img
                class="d-block img-fluid"
                src="https://static.pexels.com/photos/33972/pexels-photo.jpg"
                alt="First slide"
              />
              <div class="carousel-caption d-none d-md-block">
                <div class="banner-text">
                  <h2>Lynkit</h2>
                  <p>
                    Explore yourself..
                  </p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <img
                class="d-block img-fluid"
                src="https://images.pexels.com/photos/7097/people-coffee-tea-meeting.jpg"
                alt="First slide"
              />
              <div class="carousel-caption d-none d-md-block">
                <div class="banner-text">
                  <h2>Lynkit</h2>
                  <p>
                    Learn New technologies..
                  </p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <img
                class="d-block img-fluid"
                src="https://static.pexels.com/photos/33972/pexels-photo.jpg"
                alt="First slide"
              />
              <div class="carousel-caption d-none d-md-block">
                <div class="banner-text">
                  <h2>Lynkit</h2>
                  <p>
                    You'll be the NEW YOU !!
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Form Status: {{ this.registerForm['status'] }}<br />
  {{ this.registerForm.value | json }} -->
</section>
