<div
  class="container-fluid mainContainer customers"
  style="min-width: 951px; overflow-x: auto;"
>
  <mat-table [dataSource]="dataSource" matSort>
    <ng-container *ngFor="let col of colsDef" matColumnDef="{{ col.id }}">
      <mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        style="padding-left: 8px;"
      >
        {{ col.label }}
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="ellipsis" *ngIf="col.id !== 'avatar'">
          {{ element[col.id] }}
        </span>
        <span class="ellipsis" *ngIf="col.id === 'avatar'">
          <img src="{{ element[col.id] }}" alt="Avatar" />
        </span>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayColumns"></mat-row>
  </mat-table>
  <mat-paginator
    [pageSizeOptions]="[5, 10]"
    showFirstLastButtons
  ></mat-paginator>
  <div *ngIf="!this.dataSource.data.length">
    <h1 class="noValue">No User Found</h1>
  </div>
</div>
